@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Julius+Sans+One&display=swap');

$primary-color: #303f3c;
$secondary-color: #fff9f3;
$accent-color: #a39c9a;
$black-color: #272727;
$white-color: #fbf9f6;
$sage-color: #7a8a8b;

$sans-font: 'Julius Sans One', sans-serif;
$serif-font: 'Crimson Text', serif;
