@import '../../scss/_variables.scss';
@import '../../scss/_mixins.scss';

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $sans-font;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background: $secondary-color;

  header {
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .navbar-nav {
        a {
          font-family: $sans-font;
          color: $secondary-color;
          &:hover {
            color: $sage-color;
          }
        }
      }

      .navbar-brand {
        margin: 0 auto;
        font-family: $sans-font;
        font-size: 2rem;
        color: $secondary-color;
      }

      .btn-link,
      .menu-icon {
        border: none;
        background: transparent;
        padding: 0;
        color: $secondary-color;

        &:focus {
          outline: none;
        }

        svg {
          color: $secondary-color;
        }

        &:hover {
          svg {
            color: $sage-color;
          }
        }
      }

      .nav-link {
        color: $secondary-color;

        svg {
          color: $secondary-color;
        }

        &:hover {
          color: $sage-color;
          svg {
            color: $sage-color;
          }
        }
      }

      .offcanvas-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .offcanvas-title {
        color: $secondary-color;
      }

      .offcanvas-body .nav-link {
        color: $secondary-color;

        &:hover {
          color: $sage-color;
        }
      }
    }
  }

  nav {
    background: $primary-color;

    .container {
      a {
        color: $secondary-color;
        background: $primary-color;
      }
    }
  }

  footer {
    @include fit-bg-image(10%);
    height: 45rem;
    display: flex;
    align-items: flex-end;
    flex-direction: row;

    .footer-text {
      padding: 1rem;
      width: 100%;
      background: $primary-color;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1rem;

      h2 {
        grid-column: span 4;
      }

      a,
      p,
      label {
        color: inherit;
        font-family: $sans-font;
        font-size: 0.8rem;
        text-align: left;
        text-decoration: none;
      }

      button {
        font-family: $sans-font;
        margin-top: 0.5rem;
        border: 1px solid $sage-color;
        color: $sage-color;
        background: none;
      }

      .footer-policies {
        display: flex;
        flex-direction: column;
      }

      .navigation {
        display: flex;
        flex-direction: column;
      }

      .copy {
        grid-column: span 4;
        text-align: center;
        font-family: $sans-font;
        font-size: 0.75rem;
        padding: 0;
        margin: 0;
      }
    }
  }

  .Hero-container {
    padding: 0;

    .video-wrapper {
      position: relative;
      padding-bottom: 56.25%; // 16:9 aspect ratio
      height: 0;
      overflow: hidden;
      max-width: 100%;
      background: #000;
    }

    .video-wrapper video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .CTA {
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;

    h2 {
      font-size: 3rem;
      color: $primary-color;
    }

    p {
      color: $primary-color;
      font-size: 1.3rem;
      font-family: $serif-font;
    }

    button {
      border-color: $primary-color;
      color: $secondary-color;
      background: $primary-color;

      &:hover {
        color: $primary-color;
        background: $secondary-color;
      }
    }
  }

  .Upcoming {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
    height: 417px;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;

    h2 {
      font-size: 2rem;
      color: $white-color;
    }

    h3 {
      color: $white-color;
      font-size: 1.3rem;
    }
  }

  .Collection {
    @include underline-a;

    margin: 7rem 0;
    text-align: center;
    color: $primary-color;

    h2 {
      font-size: 3rem;
      margin-bottom: 5rem;
    }

    .images {
      display: flex;
      justify-content: space-around;

      .item-wrapper {
        width: 25%;
        margin-top: 1rem; /* Added margin to space out items */
        display: flex;
        flex-direction: column;
        align-items: center;

        .image-container {
          width: 100%;
          padding-top: 100%; /* Creates a square container */
          position: relative;

          img {
            @include fit-image-with-adjustment(30%);
            position: absolute;
            top: 0;
            border: 1px solid $primary-color;
            padding: 0.75rem;
          }
          margin-bottom: 1rem;
        }

        h4 {
          font-size: 1rem;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        p {
          margin: 0;
          font-family: $serif-font;
        }

        a {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 5rem;
        }
      }
    }
  }

  .Informative {
    @include flex-row-center;
    background: $primary-color;
    color: $white-color;
    padding: 3rem;

    .item-wrapper {
      @include fit-bg-image;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 50%;
      height: 25rem;
      text-align: center;
      padding: 2rem;
      margin: 1rem;
      border: 10px solid $secondary-color;

      h3,
      p {
        color: $secondary-color;
        font-family: $serif-font;
      }
    }
  }

  .Promise {
    padding-top: 5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1 {
      color: $primary-color;
    }

    h6 {
      border-bottom: 1px solid $primary-color;
      padding: 1rem 0;
    }

    .promise-grid {
      margin-top: 10rem;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 5rem;

      .promise-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .image-wrapper {
          img {
            width: 50px;
            margin-bottom: 1rem;
          }
        }

        h6 {
          margin-top: auto;
        }
      }
    }
  }
}

.search-input {
  &::placeholder {
    font-family: 'Julius Sans One';
  }
}

.button {
  background: none;
  border: 1px solid;
  padding: 0.3rem 2rem;
  font-family: $sans-font;
}

.rating span {
  margin: 0.1rem;
}

.rating svg {
  color: #f8e825;
}

.rating-text {
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 0.5rem;
}

.product-title {
  height: 2.5em; /* Set a fixed height */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Add ellipsis for long text */
  white-space: nowrap; /* Prevent wrapping */
}

table td,
table th {
  text-align: center;
}

.review {
  margin-top: 30px;
}

.review h2 {
  font-size: 24px;
  background: #f4f4f4;
  padding: 10px;
  border: 1px solid #ddd;
}

.review button {
  margin-top: 10px;
}

.carousel-caption {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
